@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.App{
    display: flex;
    justify-content: center;
    background: #010920;
    font-family: 'Montserrat', sans-serif;
}